// Colores
@use 'sass:color';
$primary-color: #333;
$secondary-color: #f4f4f4;
$accent-color: #ff9a00;
$dark-color: #222;
$light-color: #fff;

// Fuentes
$font-stack: 'Helvetica', sans-serif;
$heading-font: 'Arial', sans-serif;